html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.pozadina {
    width: 100%; /* slika će se protezati preko cijelog ekrana horizontalno */
    height: auto; /* visina slike ce se automatski prilagoditi širini */
    object-fit: cover; /* slika ce se proporcionalno razvući kako bi ispunila cijeli kontejner */
    top: 0; /* postaviti vrh slike na vrh ekrana */
    left: 0; /* postaviti lijevu stranu slike na lijevu stranu ekrana */
}

.forma {
    margin-left: 5px;
    margin-right: 5px;
    background-color: #f0f5fa;
    border-radius: 10px;
}
